<!DOCTYPE html>
<html>
  <head>
    <title>Cryptocurrency Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>


  <body>
  <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
  <div class="container">

    <%= yield %>
  </div>
  </div>
  </body>

</html>
